@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@900&family=Roboto+Serif:wght@600&display=swap');
 
body{
    background-color : #ffffff; /*#fffafa*/
    font-size: 1.05em;
    font-family: 'Nunito Sans', sans-serif;
}
.sticky{
/*     width: 100%; */
    position: fixed;
    top: 0;
}
.section_header{
    width: 100%;
    background-color: white;
}
.title{
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    padding: 15px 0 15px 0;
}
.section_menu{
    width : 100%;
    background-color : #145214;
    border: 2px solid #145214;
    box-shadow: 0px 3px 10px grey;
    
}
.section_left{
    margin: 20px 0 0 0;
    width : 18%;
    float : left;
}
.section_middle{
    width : 90%;
    margin: 0% 5% 0% 5%;
    float : right;
    padding-top : 10px;
}
.section_right{
    width : 85%;
/*     margin: 0% 5% 0% 5%; */
    float : right;
    padding-top : 10px;
}
div.side_nav{
    border-style : solid;
    border-width : 0px 0px 1px 0px;
    background-color : #e6ffcc;
}
a.side_nav{
    display : block;
    padding : 5px 15px 5px 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration : none;
    color : white;
/*     border-radius: 20%; */
}
a.side_nav:hover{
    background-color : #676719;
}
a.active {
    background-color: #e2e2e2;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    display : block;
    padding : 5px 15px 5px 15px;
    text-decoration : none;
    border-style : solid;
    border-color : #676719;
    border-width : 2px 6px 2px 6px;
/*     border-radius: 20%; */
}
table.form{
    border-collapse : collapse;
    border-width : 0px;
    width : 60%;
    margin-left : 20%;
    margin-right : 20%;
}
table.form tr:nth-child(odd){
    background-color : #c1f0c1;
}
table.form tr:nth-child(even){
    background-color : #eafaea;
}
table.form td{
    text-align:center;
}
table.summary{
    border-collapse : collapse;
    border : 2px white solid; /*#392d37*/
    width : 100%;
    /*margin-left : 10%;
    margin-right : 10%;*/
}
table.summary tr:nth-child(odd){
/*     background-color: #b1cde7; */
    background-color : #c1f0c1;
}
table.summary tr:nth-child(even){
/*     background-color: #d8e6f3; */
    background-color : #eafaea;
}
table.summary td{
    text-align : center;
    padding: 5px 0 5px 0;
    border : 2px #0f3e0f solid; /*#392d37*/
}
table.details{
    border-collapse : collapse;
    border : 2px #0f3e0f solid;
    width : 80%;
    margin-left : 10%;
    margin-right : 10%;
}
table.details tr:nth-child(odd){
    background-color : #c1f0c1;
}
table.details tr:nth-child(even){
    background-color : #eafaea;
}
table.details td{
    text-align : center;
    border : 2px #0f3e0f solid;
}
th{
    background-color : #196719;
    color : #ffffff;
    padding : 5px;
    border : 2px solid #0f3e0f;
    text-align: center;
    font-weight: bold;
}
button.bt{
    background-color : #98e698;/*#196767*/
    border: 1px solid black;
    color : black;
    padding : 5px 10px 5px 10px;
    border-radius: 10px;
    font-weight : bold;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
button.round{
    border-radius:50%;
}
button.bt:hover{
    background-color : #536719;
}
button.reset{
    background-color : #196767;
    border: 2px solid black;
    color : white;
    padding : 5px 10px 5px 10px;
    font-weight : bold;
    font-size: 1.1em;
    box-shadow: 0px 0px 5px grey;
    border-radius: 0px;
}
button.reset:hover{
    background-color: #595959;
}
input[type=submit]{
    background-color : #196767;
    border: 2px solid black;
    color : white;
    padding : 5px 10px 5px 10px;
    font-weight : bold;
    font-size: 1.1em;
    box-shadow: 0px 0px 5px grey;
    border-radius: 0px;
}
input[type=submit]:hover{
    background-color : #595959;
}
input[type=number]{
    text-align: center;
    font-weight: bold;
}
input.full, select.full{
    width : 80%;
    margin: 5px 10% 5px 10%;
    height: 30px;
    font-size: 1em;
    border: 1px solid #145214;
    border-radius: 10px;
}
